*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  background: #dadada;
}

.container{
    width: 50rem;
    height: 60rem;
    background: #fff;
    margin: 5rem auto;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    overflow-y: scroll;
}

h1{
    margin: 2rem;
    display: flex;
    
}

.search{
    border: 1px solid #000;
    display: flex;
    justify-content: flex-start;
    padding: 5px 1rem;
    font-size: 1.8rem;
    border-radius: 5px;
    margin-bottom: 3rem;

    input{
        width: 100%;
        border: none;
        outline-style: none;
    }

    i{
        padding: 5px;
        color: #000;
        font-size: 1.8rem;
    }
}

.product{
    display: flex;
    height: 10rem;
    padding: 1rem 1rem;
    cursor: pointer;
    
    img{
        width: 5rem;
        object-fit: cover;
        margin-right: 1rem;
    }

    &:hover{
        background: #dadada;
    }

}

.info{
    
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.name{
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
.price{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    margin-top: 10px;
}