* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #8cc84c;
}

.wrapper {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.content {
  border: 1px solid #888;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border-radius: 5px;

  li {
    background: #8cc84c;
    color: #fff;
    border-radius: 4px;
    list-style: none;
    margin: 0 3px;
    padding: 10px;

    i {
      font-size: 12px;
      margin-left: 5px;
    }
  }

  input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin: 10px;
  }
}

.remove-all {
  background: #8cc84c;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}
